.about-us-container .image-container-b, .about-us-container .image-container-a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  height: 80px;
  width: 100vw;
  box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  position: fixed;
  z-index: 2;
}
nav .logo-container {
  width: 20%;
  margin-left: 70px;
}
nav .logo-container img {
  width: 80%;
}
nav ul {
  display: flex;
  list-style: none;
  margin-right: 300px;
}
nav ul li {
  font-size: 13px;
  margin-left: 20px;
}
nav ul li a {
  color: black;
  text-decoration: none;
}
nav ul li a:visited {
  color: black;
}
@media (max-width: 1200px) {
  nav ul {
    margin-right: 50px;
  }
}
@media (max-width: 1200px) {
  nav {
    height: 70px;
  }
}
@media (max-width: 992px) {
  nav {
    height: 60px;
  }
}
@media (max-width: 768px) {
  nav {
    height: 50px;
  }
}
header {
  height: 100vh;
  background-image: url(Imagen-SR900-Full-Color-7-2-1024x512.jpg);
  background-position: center;
  background-size: cover;
}
@media (max-width: 1200px) {
  header {
    height: 512px;
  }
}
@media (max-width: 992px) {
  header {
    height: 430px;
  }
}
@media (max-width: 768px) {
  header {
    height: 330px;
  }
}
.about-us-container {
  display: flex;
  justify-content: space-between;
  background-color: #f3f7f8;
  padding: 50px 135px;
  color: #FFFFFF;
}
.about-us-container .description-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-us-container .description-container h2 {
  color: #434343;
}
@media (max-width: 768px) {
  .about-us-container .description-container h2 {
    margin-top: 0;
  }
}
.about-us-container .description-container p {
  color: #666666;
}
@media (max-width: 1200px) {
  .about-us-container .description-container p {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .about-us-container .description-container p {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .about-us-container .description-container p {
    font-size: 9px;
  }
}
.about-us-container .images-a-b__container {
  height: 500px;
  width: 50%;
}
@media (max-width: 1200px) {
  .about-us-container .images-a-b__container {
    height: 400px;
  }
}
@media (max-width: 992px) {
  .about-us-container .images-a-b__container {
    height: 350px;
  }
}
.about-us-container .image-container-a {
  margin: 50px;
  position: relative;
  top: -40px;
  left: -100px;
}
.about-us-container .image-container-a .image {
  width: 300px;
  height: 300px;
  background-color: aquamarine;
}
@media (max-width: 1200px) {
  .about-us-container .image-container-a .image {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 992px) {
  .about-us-container .image-container-a .image {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 576px) {
  .about-us-container .image-container-a .image {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 1200px) {
  .about-us-container .image-container-a {
    top: -50px;
    left: -90px;
  }
}
@media (max-width: 992px) {
  .about-us-container .image-container-a {
    top: -30px;
    left: -90px;
  }
}
@media (max-width: 768px) {
  .about-us-container .image-container-a {
    top: -30px;
    left: -90px;
  }
}
@media (max-width: 638px) {
  .about-us-container .image-container-a {
    top: -30px;
    left: 10px;
  }
}
.about-us-container .image-container-b {
  margin: 50px;
  position: relative;
  top: -200px;
  right: -70px;
}
.about-us-container .image-container-b .image {
  width: 300px;
  height: 300px;
  background-color: red;
}
@media (max-width: 1200px) {
  .about-us-container .image-container-b .image {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 992px) {
  .about-us-container .image-container-b .image {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 576px) {
  .about-us-container .image-container-b .image {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 1200px) {
  .about-us-container .image-container-b {
    top: -200px;
    right: -40px;
  }
}
@media (max-width: 992px) {
  .about-us-container .image-container-b {
    top: -110px;
    right: -40px;
  }
}
@media (max-width: 768px) {
  .about-us-container .image-container-b {
    top: -150px;
    right: -50px;
  }
}
@media (max-width: 638px) {
  .about-us-container .image-container-b {
    top: -50px;
    right: -10px;
  }
}
@media (max-width: 1200px) {
  .about-us-container {
    padding: 50px 50px;
  }
}
@media (max-width: 768px) {
  .about-us-container {
    padding: 40px;
  }
}
@media (max-width: 576px) {
  .about-us-container {
    padding: 30px;
  }
}

.products-container {
  color: #434343;
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: #FFFFFF;
  padding: 106px 135px 90px;
}
@media (max-width: 768px) {
  .products-container h2 {
    margin-top: 0;
  }
}
.products-container .products {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.products-container .products .left-products article {
  width: 570px;
  height: 450px;
  margin: 0 30px 0 0;
  background-color: #f4f4f4;
}
@media (max-width: 1200px) {
  .products-container .products .left-products article {
    margin: 0;
    width: auto;
  }
}
@media (max-width: 992px) {
  .products-container .products .left-products article {
    height: 300px;
  }
}
.products-container .products .right-products {
  display: flex;
  flex-wrap: wrap;
}
.products-container .products .right-products article {
  width: 270px;
  height: 210px;
  margin: 0 30px 30px;
  background-color: #f4f4f4;
}
@media (max-width: 1200px) {
  .products-container .products .right-products article {
    width: 49%;
    height: 350px;
    margin: 0 0 20px;
  }
}
@media (max-width: 992px) {
  .products-container .products .right-products article {
    height: 200px;
  }
}
@media (max-width: 1200px) {
  .products-container .products .right-products {
    margin-top: 30px;
    justify-content: space-between;
  }
}
@media (max-width: 1200px) {
  .products-container .products {
    margin-top: 30px;
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .products-container .products {
    margin-top: 10px;
  }
}
@media (max-width: 1200px) {
  .products-container {
    padding: 50px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .products-container {
    padding: 40px;
  }
}
@media (max-width: 576px) {
  .products-container {
    padding: 30px;
  }
}

.brands-container {
  height: 334px;
  background-color: #f3f7f8;
  padding: 123px 190px 124px 191px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brands-container .brand-img-container {
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
}
.brands-container .brand-img-container img {
  height: 100%;
}
.brands-container .brand-img-container .xurban {
  height: 70%;
}
@media (max-width: 1200px) {
  .brands-container .brand-img-container {
    height: 30px;
  }
}
@media (max-width: 768px) {
  .brands-container .brand-img-container {
    height: 20px;
  }
}
@media (max-width: 1200px) {
  .brands-container {
    padding: 50px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .brands-container {
    height: 150px;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #434343;
  padding: 100px 135px;
}
@media (max-width: 768px) {
  .contact-container h2 {
    margin-top: 0;
  }
}
.contact-container .info-cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.contact-container .info-cards-container .info-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e9e9e9;
  margin: 50px 0;
  width: 40%;
  height: 120px;
  padding: 20px;
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.contact-container .info-cards-container .info-container .contact-image-container {
  width: 20%;
  margin-left: 30px;
}
.contact-container .info-cards-container .info-container .contact-image-container img {
  width: 80%;
}
@media (max-width: 1200px) {
  .contact-container .info-cards-container .info-container .contact-image-container img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .contact-container .info-cards-container .info-container .contact-image-container {
    width: 15%;
  }
}
@media (max-width: 576px) {
  .contact-container .info-cards-container .info-container .contact-image-container {
    margin-left: 0;
  }
}
.contact-container .info-cards-container .info-container .info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.contact-container .info-cards-container .info-container .info h3 {
  font-size: 25px;
  margin: 0;
}
@media (max-width: 1200px) {
  .contact-container .info-cards-container .info-container .info h3 {
    font-size: 23px;
  }
}
.contact-container .info-cards-container .info-container .info p {
  font-size: 28px;
  margin: 0;
}
@media (max-width: 1200px) {
  .contact-container .info-cards-container .info-container .info p {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .contact-container .info-cards-container .info-container .info {
    margin-left: 50px;
  }
}
.contact-container .info-cards-container .info-container a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}
.contact-container .info-cards-container .info-container:hover {
  transform: translateY(-30px) !important;
  box-shadow: 0 30px 50px -30px rgba(0, 0, 0, 0.6) !important;
}
@media (max-width: 1200px) {
  .contact-container .info-cards-container .info-container {
    width: 44%;
    margin: 30px 0;
  }
}
@media (max-width: 992px) {
  .contact-container .info-cards-container .info-container {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .contact-container .info-cards-container .info-container {
    width: auto;
    height: 80px;
  }
}
@media (max-width: 576px) {
  .contact-container .info-cards-container .info-container {
    width: auto;
    height: 70px;
  }
}
@media (max-width: 992px) {
  .contact-container .info-cards-container {
    flex-direction: column;
    align-items: center;
    width: auto;
  }
}
@media (max-width: 1200px) {
  .contact-container {
    padding: 50px;
  }
}
@media (max-width: 768px) {
  .contact-container {
    padding: 40px;
  }
}
@media (max-width: 576px) {
  .contact-container {
    padding: 30px;
  }
}

footer {
  background-color: #232323;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 50px 200px;
}
footer p {
  font-size: 12px;
}
@media (max-width: 992px) {
  footer p {
    font-size: 10px;
  }
}
footer .footer-image-container {
  width: 25%;
}
footer .footer-image-container img {
  width: 100%;
}
footer .links-contact {
  display: flex;
  flex-direction: column;
}
footer .links-contact a {
  margin-bottom: 10px;
  font-size: 12px;
  color: white;
  text-decoration: none;
}
footer .links-contact a:visited {
  color: white;
}
@media (max-width: 992px) {
  footer .links-contact a {
    font-size: 10px;
  }
}
@media (max-width: 1200px) {
  footer {
    height: 100px;
    padding: 70px;
  }
}
@media (max-width: 992px) {
  footer {
    height: 60px;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 30px;
  }
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
