.about-us-container {
    display: flex;
    justify-content: space-between;
    background-color: #f3f7f8;
    padding: 50px 135px;
    color: $extra-wildcard-color;
    .description-container {
        width: 40%;
        display:flex;
        flex-direction: column;
        justify-content:center;
        h2 {
            color: #434343;
            @media (max-width: $layout-breakpoint-max-smalldevice) {
                margin-top: 0;
            }
            @media (max-width: $layout-breakpoint-max-smalldevice) {
                margin-top: 0;
                font-size: 20px;
            }
        }
        p {
            color: #666666;
            @media (max-width: $layout-breakpoint-max-largedevice) {
                font-size: 14px;
            }
            @media (max-width: $layout-breakpoint-max-mediumdevice) {
                font-size: 12px;
            }
            @media (max-width: $layout-breakpoint-max-extrasmalldevice) {
                font-size: 9px;
            }
        }
        @media (max-width: $layout-breakpoint-max-extrasmalldevice) {
            width: 50%;
        }
    }
    .images-a-b__container{
        height: 500px;
        width: 50%;
        @media (max-width: $layout-breakpoint-max-largedevice) {
            height: 400px;
        }
        @media (max-width: $layout-breakpoint-max-mediumdevice) {
            height: 350px;   
        }
        @media (max-width: $layout-breakpoint-max-extrasmalldevice) {
            width: 40%;
        }
    }
    .image-container-a {
        @extend %centered-column-flex;
        margin: 50px;
        position: relative;
        top: -40px;
        left: -10px;
        width: 300px;
        height: 300px;
        img {
            width: 100%;
        }
        @media (max-width: $layout-breakpoint-max-largedevice) {
            top: -50px;
            left: -10px;
            width: 250px;
            height: 250px;
        }
        @media (max-width: $layout-breakpoint-max-mediumdevice) {
            top: -30px;
            left: -10px;
            width: 200px;
            height: 200px;
        }
        @media (max-width: $layout-breakpoint-max-smalldevice) {
            top: -30px;
            left: -90px;
        }
        @media (max-width: 638px) {
            top: -70px;
            left: 10px;
        }
        @media (max-width: $layout-breakpoint-max-extrasmalldevice) {
            width: 120px;
            height: 120px;
            top:-30px;
            left: -40px;
        }
    }
    .image-container-b {
        @extend %centered-column-flex;
        margin: 50px;
        position: relative;
        top: -200px;
        right: -190px;
        width: 300px;
        height: 300px;
        img {
            width: 100%;
        }
        @media (max-width: $layout-breakpoint-max-largedevice) {
            top: -200px;
            right: -160px;
            width: 250px;
            height: 250px;
        }
        @media (max-width: $layout-breakpoint-max-mediumdevice) {
            top: -130px;
            right: -90px;
            width: 200px;
            height: 200px;
        }
        @media (max-width: $layout-breakpoint-max-smalldevice) {
            top: -150px;
            right: -50px;
        }
        @media (max-width: 638px) {
            top: -90px;
            right: -10px;
        }
        @media (max-width: $layout-breakpoint-max-extrasmalldevice) {
            width: 120px;
            height: 120px;
            top: -50px;
            right: 40px;
        }
    }
    @media (max-width: $layout-breakpoint-max-largedevice) {
        padding: 50px 50px;
    }
    @media (max-width: $layout-breakpoint-max-mediumdevice) {
        
    }
    @media (max-width: $layout-breakpoint-max-smalldevice) {
        padding: 40px;
    }
    @media (max-width: $layout-breakpoint-max-extrasmalldevice) {
        padding: 30px;
    }
}