@import "nav.scss";
@import "slider.scss";
@import "aboutus.scss";
@import "products.scss";
@import "brands.scss";
@import "contact.scss";
@import "footer.scss";

body {
    margin: 0;
    font-family: $main-font;
}

html {
    scroll-behavior: smooth;
} 

.hidden {
    display: none;
}