nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $extra-wildcard-color;
    height: 80px;
    width: 100vw;
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
    position: fixed;
    z-index: 2;
    .logo-container {
        width: 20%;
        margin-left: 70px;
        img {
            width: 80%;
            @media (max-width: $layout-breakpoint-max-largedevice) {
                width: 90%;
            }
        }
        @media (max-width: $layout-breakpoint-max-mediumdevice) {
            width: 25%;
            margin-left: 50px;
        }
    }
    ul {
        display: flex;
        list-style: none;
        margin-right: 200px;
        li {
            font-size: 13px;
            margin-left: 20px;
            a {
                color: black;
                text-decoration: none;
                &:visited {
                    color: black;
                }
                &:hover {
                    @media (max-width: 850px) {
                        color: green;
                    }
                }
            }
            @media (max-width: 850px) {
                padding: 10px;
                margin-left: 40px;
            }
        }
        @media (max-width: $layout-breakpoint-max-largedevice) {
            margin-right: 50px;
        }
        @media (max-width: 850px) {
            background-color: white;
            width: 100vw;
            padding: 0;
            height: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            top: 33px;
            position: absolute;
            transition: .3s ease-out;
            overflow: hidden;
        }
    }
    .burguer {
        display: none;
        @media (max-width: 850px) {
            display: block;
            font-size: 20px;
            padding: 10px 0;
        }
    }
    @media (max-width: $layout-breakpoint-max-largedevice) {
        height: 70px;
    }
    @media (max-width: $layout-breakpoint-max-mediumdevice) {
        height: 60px;
        transition: .3s;
    }
    @media (max-width: 850px) {
        height: 50px;
    }
}

.cambio-desplegable {
    background-color:white;
}

.show {
    height: 180px !important;
}

#burguer {
    font-size: 22px;
    margin-right: 40px;
}






