$main-color: #5D8F39;
$secondary-color: #353E8A;
$third-color: #D8D9DA;
$extra-wildcard-color: #FFFFFF;

$main-font: Helvetica, sans-serif;

$layout-breakpoint-max-largedevice: 1200px;
$layout-breakpoint-max-mediumdevice: 992px;
$layout-breakpoint-max-smalldevice:768px;
$layout-breakpoint-max-extrasmalldevice:576px;